#POSTGRES
POSTGRES_DB=database
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password

#SPRING
SPRING_DATASOURCE_LOCAL_URL=jdbc:postgresql://localhost:5332/database

#JWT
JWT_SECRET="your_secret"
JWT_EXPIRATION_TIME= 900000 # 1000 * 60 * 15